<div class="main-content main-content-details single no-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a [routerLink]="['/']">Home</a>
                        </li>
                        <li class="trail-item trail-end active">
                            Product
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-area content-details full-width col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="site-main">
                    <div class="details-product">
                        <div class="details-thumd">
                            <div class="image-preview-container image-thick-box image_preview_container">
                                <img id="img_zoom" data-zoom-image="assets/images/details-item-1.jpg"
                                    src="assets/images/details-item-1.jpg" alt="img">
                                <a class="btn-zoom open_qv"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-preview image-small product_preview">
                                <div id="thumbnails" class="thumbnails_carousel owl-carousel owl-theme owl-loaded"
                                    data-nav="true" data-autoplay="false" data-dots="false" data-loop="false"
                                    data-margin="10"
                                    data-responsive="{&quot;0&quot;:{&quot;items&quot;:3},&quot;480&quot;:{&quot;items&quot;:3},&quot;600&quot;:{&quot;items&quot;:3},&quot;1000&quot;:{&quot;items&quot;:3}}">




                                    <div class="owl-stage-outer">
                                        <div class="owl-stage"
                                            style="transform: translate3d(-181.667px, 0px, 0px); transition: NaNs 0s ease 0s; width: 726.668px;">
                                            <div class="owl-item" style="width: 171.667px; margin-right: 10px;"><a
                                                    data-image="assets/images/details-item-1.jpg"
                                                    data-zoom-image="assets/images/details-item-1.jpg" class="active">
                                                    <img src="assets/images/details-item-1.jpg"
                                                        data-large-image="assets/images/details-item-1.jpg" alt="img">
                                                </a></div>
                                            <div class="owl-item active item-first"
                                                style="width: 171.667px; margin-right: 10px;"><a
                                                    data-image="assets/images/details-item-2.jpg"
                                                    data-zoom-image="assets/images/details-item-2.jpg">
                                                    <img src="assets/images/details-item-2.jpg"
                                                        data-large-image="assets/images/details-item-2.jpg" alt="img">
                                                </a></div>
                                            <div class="owl-item active" style="width: 171.667px; margin-right: 10px;">
                                                <a data-image="assets/images/details-item-3.jpg"
                                                    data-zoom-image="assets/images/details-item-3.jpg">
                                                    <img src="assets/images/details-item-3.jpg"
                                                        data-large-image="assets/images/details-item-3.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="owl-item active item-last"
                                                style="width: 171.667px; margin-right: 10px;"><a
                                                    data-image="assets/images/details-item-4.jpg"
                                                    data-zoom-image="assets/images/details-item-4.jpg">
                                                    <img src="assets/images/details-item-4.jpg"
                                                        data-large-image="assets/images/details-item-4.jpg" alt="img">
                                                </a></div>
                                        </div>
                                    </div>
                                    <div class="owl-controls">
                                        <div class="owl-nav">
                                            <div class="owl-prev" style=""><i class="fa fa-angle-left"
                                                    aria-hidden="true"></i></div>
                                            <div class="owl-next" style=""><i class="fa fa-angle-right"
                                                    aria-hidden="true"></i></div>
                                        </div>
                                        <div class="owl-dots" style="display: none;"></div>
                                    </div>
                                    <div class="owl-thumbs"><button class="owl-thumb-item">undefined</button><button
                                            class="owl-thumb-item active">undefined</button><button
                                            class="owl-thumb-item">undefined</button><button
                                            class="owl-thumb-item">undefined</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="details-infor">
                            <h1 class="product-title">
                                Splendid Diamond
                            </h1>
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-5"></span>
                                </div>
                                <div class="count-star">
                                    (7)
                                </div>
                            </div>
                            <div class="availability">
                                availability:
                                <a>in Stock</a>
                            </div>
                            <div class="price">
                                <span>$45</span>
                            </div>
                            <div class="product-details-description">
                                <ul>
                                    <li>Vestibulum tortor quam</li>
                                    <li>Imported</li>
                                    <li>Art.No. 06-7680</li>
                                </ul>
                            </div>
                            <div class="variations">

                            </div>
                            <div class="group-button">
                                <div class="quantity-add-to-cart">
                                    <div class="quantity">
                                        <div class="control">
                                            <a class="btn-number qtyminus quantity-minus">-</a>
                                            <input type="text" data-step="1" data-min="0" value="1" title="Qty"
                                                class="input-qty qty" size="4">
                                            <a class="btn-number qtyplus quantity-plus">+</a>
                                        </div>
                                    </div>
                                    <button class="single_add_to_cart_button button">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="clear: left;"></div>
                    <div class="related products product-grid">
                        <h2 class="product-grid-title">You may also like</h2>
                        <div class="owl-products owl-slick equal-container nav-center slick-initialized slick-slider"
                            data-slick="{&quot;autoplay&quot;:false, &quot;autoplaySpeed&quot;:1000, &quot;arrows&quot;:true, &quot;dots&quot;:false, &quot;infinite&quot;:true, &quot;speed&quot;:800, &quot;rows&quot;:1}"
                            data-responsive="[{&quot;breakpoint&quot;:&quot;2000&quot;,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:&quot;1200&quot;,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:&quot;992&quot;,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:&quot;480&quot;,&quot;settings&quot;:{&quot;slidesToShow&quot;:1}}]">
                            <span class="fa fa-angle-left slick-arrow" style="display: block;"></span>
                            <div aria-live="polite" class="slick-list draggable">
                                <div class="slick-track" role="listbox"
                                    style="opacity: 1; width: 4000px; transform: translate3d(-1200px, 0px, 0px);">
                                    <div class="product-item style-1 slick-slide slick-current slick-active first-slick"
                                        style="width: 400px;" data-slick-index="0" aria-hidden="false" tabindex="-1"
                                        role="option" aria-describedby="slick-slide00">
                                        <div class="product-inner equal-element" style="height: 468px;">
                                            <div class="product-top">
                                                <div class="flash">
                                                    <span class="onnew">
                                                        <span class="text">
                                                            new
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="product-thumb">
                                                <div class="thumb-inner">
                                                    <a tabindex="0">
                                                        <img src="assets/images/product-item-1.jpg" alt="img">
                                                    </a>
                                                    <div class="thumb-group">

                                                        <div class="loop-form-add-to-cart">
                                                            <button class="single_add_to_cart_button button"
                                                                tabindex="0">Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h5 class="product-name product_title">
                                                    <a tabindex="0">Aluminum Plant</a>
                                                </h5>
                                                <div class="group-info">
                                                    <div class="stars-rating">
                                                        <div class="star-rating">
                                                            <span class="star-3"></span>
                                                        </div>
                                                        <div class="count-star">
                                                            (3)
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <del>
                                                            $65
                                                        </del>
                                                        <ins>
                                                            $45
                                                        </ins>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item style-1 slick-slide slick-active" style="width: 400px;"
                                        data-slick-index="1" aria-hidden="false" tabindex="-1" role="option"
                                        aria-describedby="slick-slide01">
                                        <div class="product-inner equal-element" style="height: 468px;">
                                            <div class="product-top">
                                                <div class="flash">
                                                    <span class="onnew">
                                                        <span class="text">
                                                            new
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="product-thumb">
                                                <div class="thumb-inner">
                                                    <a tabindex="0">
                                                        <img src="assets/images/product-item-2.jpg" alt="img">
                                                    </a>
                                                    <div class="thumb-group">

                                                        <div class="loop-form-add-to-cart">
                                                            <button class="single_add_to_cart_button button"
                                                                tabindex="0">Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h5 class="product-name product_title">
                                                    <a tabindex="0">Splendid Diamond</a>
                                                </h5>
                                                <div class="group-info">
                                                    <div class="stars-rating">
                                                        <div class="star-rating">
                                                            <span class="star-3"></span>
                                                        </div>
                                                        <div class="count-star">
                                                            (3)
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <del>
                                                            $65
                                                        </del>
                                                        <ins>
                                                            $45
                                                        </ins>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item style-1 slick-slide slick-active last-slick"
                                        style="width: 400px;" data-slick-index="2" aria-hidden="false" tabindex="-1"
                                        role="option" aria-describedby="slick-slide02">
                                        <div class="product-inner equal-element" style="height: 468px;">
                                            <div class="product-top">
                                                <div class="flash">
                                                    <span class="onnew">
                                                        <span class="text">
                                                            new
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="product-thumb">
                                                <div class="thumb-inner">
                                                    <a tabindex="0">
                                                        <img src="assets/images/product-item-3.jpg" alt="img">
                                                    </a>
                                                    <div class="thumb-group">
                                                        <div class="yith-wcwl-add-to-wishlist">
                                                            <div class="yith-wcwl-add-button">
                                                                <a tabindex="0">Add to Wishlist</a>
                                                            </div>
                                                        </div>
                                                        <a class="button quick-wiew-button" tabindex="0">Quick
                                                            View</a>
                                                        <div class="loop-form-add-to-cart">
                                                            <button class="single_add_to_cart_button button"
                                                                tabindex="0">Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h5 class="product-name product_title">
                                                    <a tabindex="0">Dazzling Earrings</a>
                                                </h5>
                                                <div class="group-info">
                                                    <div class="stars-rating">
                                                        <div class="star-rating">
                                                            <span class="star-3"></span>
                                                        </div>
                                                        <div class="count-star">
                                                            (3)
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <del>
                                                            $65
                                                        </del>
                                                        <ins>
                                                            $45
                                                        </ins>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item style-1 slick-slide" style="width: 400px;"
                                        data-slick-index="3" aria-hidden="true" tabindex="-1" role="option"
                                        aria-describedby="slick-slide03">
                                        <div class="product-inner equal-element" style="height: 468px;">
                                            <div class="product-top">
                                                <div class="flash">
                                                    <span class="onnew">
                                                        <span class="text">
                                                            new
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="product-thumb">
                                                <div class="thumb-inner">
                                                    <a tabindex="-1">
                                                        <img src="assets/images/product-item-4.jpg" alt="img">
                                                    </a>
                                                    <div class="thumb-group">
                                                        <div class="yith-wcwl-add-to-wishlist">
                                                            <div class="yith-wcwl-add-button">
                                                                <a tabindex="-1">Add to Wishlist</a>
                                                            </div>
                                                        </div>
                                                        <a class="button quick-wiew-button" tabindex="-1">Quick
                                                            View</a>
                                                        <div class="loop-form-add-to-cart">
                                                            <button class="single_add_to_cart_button button"
                                                                tabindex="-1">Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h5 class="product-name product_title">
                                                    <a tabindex="-1">Elegant Neckwear</a>
                                                </h5>
                                                <div class="group-info">
                                                    <div class="stars-rating">
                                                        <div class="star-rating">
                                                            <span class="star-3"></span>
                                                        </div>
                                                        <div class="count-star">
                                                            (3)
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <del>
                                                            $65
                                                        </del>
                                                        <ins>
                                                            $45
                                                        </ins>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item style-1 slick-slide slick-cloned" style="width: 400px;"
                                        data-slick-index="4" aria-hidden="true" tabindex="-1">
                                        <div class="product-inner equal-element" style="height: 468px;">
                                            <div class="product-top">
                                                <div class="flash">
                                                    <span class="onnew">
                                                        <span class="text">
                                                            new
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="product-thumb">
                                                <div class="thumb-inner">
                                                    <a tabindex="-1">
                                                        <img src="assets/images/product-item-1.jpg" alt="img">
                                                    </a>
                                                    <div class="thumb-group">
                                                        <div class="yith-wcwl-add-to-wishlist">
                                                            <div class="yith-wcwl-add-button">
                                                                <a tabindex="-1">Add to Wishlist</a>
                                                            </div>
                                                        </div>
                                                        <a class="button quick-wiew-button" tabindex="-1">Quick
                                                            View</a>
                                                        <div class="loop-form-add-to-cart">
                                                            <button class="single_add_to_cart_button button"
                                                                tabindex="-1">Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h5 class="product-name product_title">
                                                    <a tabindex="-1">Aluminum Plant</a>
                                                </h5>
                                                <div class="group-info">
                                                    <div class="stars-rating">
                                                        <div class="star-rating">
                                                            <span class="star-3"></span>
                                                        </div>
                                                        <div class="count-star">
                                                            (3)
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <del>
                                                            $65
                                                        </del>
                                                        <ins>
                                                            $45
                                                        </ins>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item style-1 slick-slide slick-cloned" style="width: 400px;"
                                        data-slick-index="5" aria-hidden="true" tabindex="-1">
                                        <div class="product-inner equal-element" style="height: 468px;">
                                            <div class="product-top">
                                                <div class="flash">
                                                    <span class="onnew">
                                                        <span class="text">
                                                            new
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="product-thumb">
                                                <div class="thumb-inner">
                                                    <a tabindex="-1">
                                                        <img src="assets/images/product-item-2.jpg" alt="img">
                                                    </a>
                                                    <div class="thumb-group">
                                                        <div class="yith-wcwl-add-to-wishlist">
                                                            <div class="yith-wcwl-add-button">
                                                                <a tabindex="-1">Add to Wishlist</a>
                                                            </div>
                                                        </div>
                                                        <a class="button quick-wiew-button" tabindex="-1">Quick
                                                            View</a>
                                                        <div class="loop-form-add-to-cart">
                                                            <button class="single_add_to_cart_button button"
                                                                tabindex="-1">Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h5 class="product-name product_title">
                                                    <a tabindex="-1">Splendid Diamond</a>
                                                </h5>
                                                <div class="group-info">
                                                    <div class="stars-rating">
                                                        <div class="star-rating">
                                                            <span class="star-3"></span>
                                                        </div>
                                                        <div class="count-star">
                                                            (3)
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <del>
                                                            $65
                                                        </del>
                                                        <ins>
                                                            $45
                                                        </ins>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item style-1 slick-slide slick-cloned" style="width: 400px;"
                                        data-slick-index="6" aria-hidden="true" tabindex="-1">
                                        <div class="product-inner equal-element" style="height: 468px;">
                                            <div class="product-top">
                                                <div class="flash">
                                                    <span class="onnew">
                                                        <span class="text">
                                                            new
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="product-thumb">
                                                <div class="thumb-inner">
                                                    <a tabindex="-1">
                                                        <img src="assets/images/product-item-3.jpg" alt="img">
                                                    </a>
                                                    <div class="thumb-group">
                                                        <div class="yith-wcwl-add-to-wishlist">
                                                            <div class="yith-wcwl-add-button">
                                                                <a tabindex="-1">Add to Wishlist</a>
                                                            </div>
                                                        </div>
                                                        <a class="button quick-wiew-button" tabindex="-1">Quick
                                                            View</a>
                                                        <div class="loop-form-add-to-cart">
                                                            <button class="single_add_to_cart_button button"
                                                                tabindex="-1">Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h5 class="product-name product_title">
                                                    <a tabindex="-1">Dazzling Earrings</a>
                                                </h5>
                                                <div class="group-info">
                                                    <div class="stars-rating">
                                                        <div class="star-rating">
                                                            <span class="star-3"></span>
                                                        </div>
                                                        <div class="count-star">
                                                            (3)
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <del>
                                                            $65
                                                        </del>
                                                        <ins>
                                                            $45
                                                        </ins>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><span class="fa fa-angle-right slick-arrow" style="display: block;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>