<header class="header style7 sticky-header">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <div class="header-message">
                    Welcome to our online store!
                </div>
            </div>
            <div class="top-bar-right">
                <div class="header-language">
                    <div class="ysera-language ysera-dropdown">
                        <a class="active language-toggle" data-ysera="ysera-dropdown">
                            <span>
                                English (INR)
                            </span>
                        </a>
                        <ul class="ysera-submenu">
                            <li class="switcher-option">
                                <a>
                                    <span>
                                        ENGLISH (INR)
                                    </span>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="header-user-links">
                    <li>
                        <a href="https://maps.app.goo.gl/wK5xECQ4yYHb5hqV7" target="_blank" style="cursor: pointer;">
                            <span class="icon ml-10">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
                    <div class="logo">
                        <a (click)="routtohome()">
                            <img style="width: 300px;" src="assets/logo/logo.png" alt="img">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-8 col-md-6 col-xs-5 col-ts-12" style="margin-top: 20px;">
                    <div class="block-search-block">
                        <form class="form-search form-search-width-category">
                            <div class="form-content">
                                <div class="inner">
                                    <input type="text" class="input" name="s" value="" placeholder="Search here">
                                </div>
                                <button class="btn-search" type="submit">
                                    <span class="icon-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12 col-md-3 col-xs-12 col-ts-12" style="margin-top: 20px;">
                    <div class="header-control">
                        <div class="block-minicart ysera-mini-cart block-header ysera-dropdown">
                            <a class="shopcart-icon" data-ysera="ysera-dropdown">
                                Cart
                                <span class="count">
                                    0
                                </span>
                            </a>
                            <div class="shopcart-description ysera-submenu">
                                <div class="content-wrap">
                                    <h3 class="title">Shopping Cart</h3>
                                    <ul class="minicart-items">
                                        <li class="product-cart mini_cart_item">
                                            <a class="product-media">
                                                <img src="assets/images/item-minicart-1.jpg" alt="img">
                                            </a>
                                            <div class="product-details">
                                                <h5 class="product-name">
                                                    <a>Drop Earrings</a>
                                                </h5>
                                                <div class="variations">
                                                    <span class="attribute_color">
                                                        <a>Black</a>
                                                    </span>
                                                    ,
                                                    <span class="attribute_size">
                                                        <a>300ml</a>
                                                    </span>
                                                </div>
                                                <span class="product-price">
                                                    <span class="price">
                                                        <span>45</span>
                                                    </span>
                                                </span>
                                                <span class="product-quantity">
                                                    (x1)
                                                </span>
                                                <div class="product-remove">
                                                    <a><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="product-cart mini_cart_item">
                                            <a class="product-media">
                                                <img src="assets/images/item-minicart-2.jpg" alt="img">
                                            </a>
                                            <div class="product-details">
                                                <h5 class="product-name">
                                                    <a>Soap Earrings Solutions</a>
                                                </h5>
                                                <div class="variations">
                                                    <span class="attribute_color">
                                                        <a>Black</a>
                                                    </span>
                                                    ,
                                                    <span class="attribute_size">
                                                        <a>300ml</a>
                                                    </span>
                                                </div>
                                                <span class="product-price">
                                                    <span class="price">
                                                        <span>45</span>
                                                    </span>
                                                </span>
                                                <span class="product-quantity">
                                                    (x1)
                                                </span>
                                                <div class="product-remove">
                                                    <a><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="product-cart mini_cart_item">
                                            <a class="product-media">
                                                <img src="assets/images/item-minicart-3.jpg" alt="img">
                                            </a>
                                            <div class="product-details">
                                                <h5 class="product-name">
                                                    <a>Earrings Solutions Soap</a>
                                                </h5>
                                                <div class="variations">
                                                    <span class="attribute_color">
                                                        <a>Black</a>
                                                    </span>
                                                    ,
                                                    <span class="attribute_size">
                                                        <a>300ml</a>
                                                    </span>
                                                </div>
                                                <span class="product-price">
                                                    <span class="price">
                                                        <span>45</span>
                                                    </span>
                                                </span>
                                                <span class="product-quantity">
                                                    (x1)
                                                </span>
                                                <div class="product-remove">
                                                    <a><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="subtotal">
                                        <span class="total-title">Subtotal: </span>
                                        <span class="total-price">
                                            <span class="Price-amount">
                                                $135
                                            </span>
                                        </span>
                                    </div>
                                    <div class="actions">
                                        <a [routerLink]="['/cart']" class="button button-viewcart">
                                            <span>View Bag</span>
                                        </a>
                                        <a [routerLink]="['/checkout']" class="button button-checkout">
                                            <span>Checkout</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-account block-header ysera-dropdown">
                            <a href="javascript:void(0);" data-ysera="ysera-dropdown">
                                <span class="flaticon-user"></span>
                            </a>
                            <div class="header-account ysera-submenu">
                                <div *ngIf="!islogin" class="header-user-form-tabs">
                                    <ul class="tab-link">
                                        <li class="active">
                                            <a data-toggle="tab" aria-expanded="true" href="#header-tab-login">Login</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" aria-expanded="true"
                                                href="#header-tab-rigister">Register</a>
                                        </li>
                                    </ul>
                                    <div class="tab-container">
                                        <div id="header-tab-login" class="tab-panel active">
                                            <app-login></app-login>
                                        </div>
                                        <div id="header-tab-rigister" class="tab-panel">
                                            <app-sign-up></app-sign-up>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="islogin" class="header-user-form-tabs">
                                    <ul class="tab-link">
                                        <li class="active">
                                            <a data-toggle="tab" aria-expanded="true" href="#header-tab-login">My
                                                Account</a>
                                        </li>

                                    </ul>
                                    <div class="tab-container">
                                        <div id="header-tab-login" class="tab-panel active">
                                            <form class="login form-login">
                                                <p class="form-row">
                                                    <input [routerLink]="['/profile']" type="submit" class="button"
                                                        value="My Profile">
                                                </p>
                                                <p class="form-row">
                                                    <input [routerLink]="['/logout']" type="submit" class="button"
                                                        value="Logout">
                                                </p>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="menu-bar mobile-navigation menu-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-container rows-space-20">
        <div class="container">
            <div class="header-nav-wapper main-menu-wapper">
                <div class="vertical-wapper block-nav-categori">
                    <div class="block-title">
                        <span class="icon-bar">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="text">All Categories</span>
                    </div>
                    <div class="block-content verticalmenu-content">
                        <ul class="ysera-nav-vertical vertical-menu ysera-clone-mobile-menu">

                            <li *ngFor="let catobj of cat_list" class="menu-item menu-item-has-children">
                                <a title="Accessories" href="#" class="ysera-menu-item-title"> {{catobj.name}} </a>
                                <ul role="menu" class="submenu">
                                    <li *ngFor="let subcatobj of catobj.sub_cat" class="menu-item">
                                        <a title="Platinum" class="ysera-item-title"> {{subcatobj.name}} </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="header-nav">
                    <div class="container-wapper">
                        <ul class="ysera-clone-mobile-menu ysera-nav main-menu " id="menu-main-menu">
                            <li class="menu-item  ">
                                <a (click)="routtohome()" class="ysera-menu-item-title" title="Home">Home</a>
                            </li>
                            <li class="menu-item ">
                                <a [routerLink]="['/shop']" class="ysera-menu-item-title" title="Shop">Shop</a>
                            </li>
                            <li class="menu-item">
                                <a [routerLink]="['/aboutus']" class="ysera-menu-item-title" title="About">About</a>
                            </li>
                            <li class="menu-item">
                                <a [routerLink]="['/contactus']" class="ysera-menu-item-title" title="About">Contact
                                    Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a>
                    <img src="assets/logo/logo.png" alt="img">
                </a>
            </div>
        </div>
        <div class="item item mobile-search-box has-sub">
            <a>
                <span class="icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </a>
            <div class="block-sub">
                <a class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="header-searchform-box">
                    <form class="header-searchform">
                        <div class="searchform-wrap">
                            <input type="text" class="search-input" placeholder="Enter keywords to search...">
                            <input type="submit" class="submit button" value="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="item mobile-settings-box has-sub">
            <a>
                <span class="icon">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </span>
            </a>
            <div class="block-sub">
                <a class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="block-sub-item">
                    <h5 class="block-item-title">Currency</h5>
                    <form class="currency-form ysera-language">
                        <ul class="ysera-language-wrap">
                            <li class="active">
                                <a>
                                    <span>
                                        English (INR)
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="item menu-bar">
            <a class=" mobile-navigation  menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>