<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="main-content main-content-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a [routerLink]="['/']">Home</a>
                        </li>
                        <li class="trail-item trail-end active">
                            Forget Password
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-area col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="site-main">
                    <div class="customer_login">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="login-item">
                                    <form class="login" #myformforgetpassword="ngForm"
                                        (ngSubmit)="forgetpassowrd();myformforgetpassword.reset()">
                                        <p class="form-row form-row-wide">
                                            <label class="text">Email</label>
                                            <input [(ngModel)]="formeamil" #forgetpassword="ngModel" id="forgetpassowrd"
                                                name="forgetpassowrd" required type="email" class="form-control"
                                                placeholder="Email">

                                        </p>
                                        <div
                                            *ngIf="forgetpassword.invalid && (forgetpassword.dirty || forgetpassword.touched)">
                                            <div style="color: rgba(255, 0, 0, 0.493);" *ngIf="forgetpassword.errors?.['required']">Email is required.</div>
                                        </div>

                                        <p class="form-row">
                                            <input [disabled]="myformforgetpassword.invalid" type="submit"
                                                class="button-submit" value="Rest Password">
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>