
   
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Terms & Condition</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
  
    <!-- about us area start -->
    <section class="about-us section-padding">
        <div class="container">
            <div class="row align-items-center">
              
                <div class="col-lg-7">
                    <div class="about-content">
                        <h2 class="about-title">Terms & Condition</h2>
                        <h1>Terms and Conditions</h1>

                        <h2>Introduction</h2>
                        <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Webiste Name accessible at www.glownglitter.com.</p>
                    
                        <h2>Intellectual Property Rights</h2>
                        <p>Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>
                    
                        <h2>License to use website</h2>
                        <p>You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>
                    
                        <h2>Restrictions</h2>
                        <p>You must not:</p>
                        <ul>
                            <li>Republish material from this website (including republication on another website);</li>
                            <li>Sell, rent or sub-license material from the website;</li>
                            <li>Reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose;</li>
                            <li>Redistribute material from this website except for content specifically and expressly made available for redistribution.</li>
                        </ul>
                    
                        <h2>User Content</h2>
                        <p>In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to our website, for whatever purpose.</p>
                    
                        <h2>Disclaimer</h2>
                        <p>We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose.</p>
                    
                        <h2>Indemnity</h2>
                        <p>You agree to indemnify, defend, and hold harmless us, our affiliates, officers, directors, employees, consultants, and agents from and against any and all claims, liabilities, damages, losses, costs, expenses, fees (including reasonable attorneys’ fees and court costs) resulting or arising from your use of the website and any violation of these terms and conditions.</p>
                    
                        <h2>Modification</h2>
                        <p>We reserve the right to modify these terms and conditions at any time without prior notice.</p>
                    
                        <h2>Governing Law</h2>
                        <p>These terms and conditions shall be governed by and construed in accordance with the laws of the State of India, without giving effect to any principles of conflicts of law.</p>
                    
                        <h2>Contact Us</h2>
                        <p>If you have any questions about these Terms and Conditions, please contact us.</p>
                    
                      
                    </div>
                </div>
            </div>
        </div>
    </section>

  
 
 